<census-header header-title="City Details"></census-header>

<div class="content">
    <div class="details">
        <h3>{{ city.name }}</h3>
        Area: {{ city.area | number }} square miles
    </div>

    <ul data-role="listview" data-inset="true" class="action-list">
        <li><a id="city-populations" href="#/state/{{ city.state_code }}/county/{{ city.county_code }}/city/{{ city.code }}/section/censuses">
        		<h3>Census Populations
                    <i class="icon-chevron-right"></i>
                </h3>
        	</a>
        </li>
    </ul>

	<div id="census" data-role="content"></div>
    
    <ul data-role="listview" data-inset="true" class="action-list">
        <li>
        	<a id="city-cities" href="#/state/{{ city.state_code }}/county/{{ city.county_code }}">
        		<h3>
                    <i class="icon-chevron-right"></i>
        			<span class="value">{{ city.county_name }}</span>
        			<span class="label">County</span>
        		</h3>
        	</a>
        </li>
        <li>
        	<a id="city-state" href="#/state/{{ city.state_code }}">
        		<h3>
                    <i class="icon-chevron-right"></i>
        			<span class="value">{{ city.state_name }}</span>
        			<span class="label">State</span>
                </h3>
        	</a>
        </li>
    </ul>
    
   	<div id="map" style="width: 100%;"></div>
    
</div>