<div class="header">
    <a href="#" class="back button">Back</a>
    <a href="#" class="home button">
        <i class="icon-home"></i>
        Home
    </a>
    <h1>State Details</h1>
</div>

<div class="content">
    <img src="images/flags/{{ state.code }}.png" class="state-flag"/>
    <img src="images/seals/{{ state.code }}.png" class="state-seal"/>
    <div class="details">
        <h2>{{ state.name }}</h2>
        Area: {{ state.area | number }} square miles
    </div>

    <ul class="action-list">
        <li>
        	<a id="state-populations" href="#/state/{{ state.code }}/section/censuses">
                <h3>Census Populations
                    <i class="icon-chevron-right"></i>
                </h3>
            </a>
        </li>
	</ul>
	
	<div id="census" data-role="content"></div>

    <ul class="action-list">
        <li>
        	<a id="state-counties" href="#/state/{{ state.code }}/list/counties">
        		<h3>
                    <span class="value">{{ state.countyCount }}</span>
                    <span class="label">Counties</span>
                    <i class="icon-chevron-right"></i>
                </h3>
        	</a>
        </li>
        <li>
	        <a id="state-cities" href="#/state/{{ state.code }}/list/cities">
	        	<h3>
                    <span class="value">{{ state.cityCount }}</span>
                    <span class="label">Cities</span>
                    <i class="icon-chevron-right"></i>
                </h3>
	        </a>
	    </li>
    </ul>
    
   	<div id="map" style="width: 100%;"></div>
    
</div>